
.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color:rgb(237, 207, 213);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.outer-main{
  width: 690px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
.box{
  width: 48%;
  background-color:rgb(245, 240, 240);
  padding-bottom: 50px;
  border-radius: 15px;
  box-shadow: 1px 2px 10px rgb(46, 45, 45);

}
.box2{
  background-color: rgb(42, 35, 54);
}

.free{
  margin: 40px 50px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 600;
  color: rgb(42, 35, 54);
}
.for{
  margin-left: 50px;
  font-size: 16px;
  font-weight: 500;
  color: rgb(90, 89, 90);
}
.num{
  margin-left: 50px;
  margin-top: 30px;
  font-size: 35px;
  font-weight: 700;
  color: rgb(42, 35, 54);
  padding-bottom: 30px;
}
.user1{
  margin-left: 50px;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
  color: rgb(90, 89, 90);
  margin-bottom: -10px;

}
.btn{
  width: 245px;
  float: left;
  margin-left: 30px;
  margin-top: 43%;
  font-size: 17px;
  font-weight: 500;
  background-color: rgb(42, 35, 54);
  padding: 13px 20px;
  color:rgb(245, 240, 240) ;
  border-radius: 20px;
  border: none;
  cursor: pointer;

}
.free1{
  margin: 40px 50px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 600;
  color:rgb(245, 240, 240);
}
.for1{
  margin-left: 50px;
  font-size: 16px;
  font-weight: 500;
  color:rgb(245, 240, 240);
}
.num1{
  margin-left: 50px;
  margin-top: 30px;
  font-size: 35px;
  font-weight: 700;
  color:rgb(245, 240, 240);
    padding-bottom: 30px;
}
.user2{
  margin-left: 50px;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
  color:rgb(245, 240, 240);
  margin-bottom: -10px;

}
i{
  margin-right: 10px;
}
.btn2{
  width: 245px;
  float: left;
  margin-left: 30px;
  margin-top: 55px;
  font-size: 17px;
  font-weight: 500;
  background-color:rgb(245, 240, 240) ;
   padding: 13px 20px;
  color: rgb(42, 35, 54);
  border-radius: 20px;
  border: none;
  cursor: pointer;

}
@media screen and(min-width:320px) and(max-width:768px){
  .outer-main{
  width: 690px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
.box{
  width: 100%;
  background-color:rgb(245, 240, 240);
  padding-bottom: 50px;
  border-radius: 15px;
  box-shadow: 1px 2px 10px rgb(46, 45, 45);
  margin-top: 10px;
  margin-left: 10px;

}
.box2{
  background-color: rgb(42, 35, 54);
}

}
